<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
  <meta charset="UTF-8">
  <title>Lunch Check</title>
  <style>
    .message {
      font-size: 20px;
    }
    .green-border {
      border: 2px solid green;
    }
    .red-border {
      border: 2px solid red;
    }
    .green-message {
      color: green;
    }
    .red-message {
      color: red;
    }
  </style>
</head>
<body>

  <div ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>

    <p>List the items you usually eat for lunch (comma-separated):</p>
    <input type="text" ng-model="lunchItems" placeholder="Enter items" ng-class="inputClass">
    
    <button ng-click="checkItems()">Check If Too Much</button>

    <p class="message" ng-class="messageClass">{{message}}</p>
  </div>

  <!-- Import AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <!-- Import app.js -->
  <script src="app.js"></script>

</body>
</html>